.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

# Python-related files
__pycache__
*.pyc
*.pyo
*.pyd
__pycache__
.pytest_cache